*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

header{
  background-color: #f1f1f1;
}
header a:hover{
  text-decoration: none;
}
.header-wrapper{
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: auto;
}
.header-wrapper h1{
  font-size: 28px;
  font-weight: 700;
  color: #2c3a47;
}
.header-wrapper ul.menu-list{
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  
}
.header-wrapper ul.menu-list a{
  color: #2c3a47;
}
.header-wrapper ul.menu-list li{
  position: relative;
  padding: 0 10px;
}
.header-wrapper ul.menu-list li::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fd7474;
  border-radius: 8px;
  z-index: -1;
  transition: .2s linear;
}
.header-wrapper ul.menu-list li:hover::before{
  width: 100%;
}
.menu-icon{
  width: 40px;
  height: 40px;
  background-color: #2c3a47;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  z-index: 2;
  border-radius: 10px;
  transition: .2s linear;
  display: none;
}
.menu-icon:hover{
  opacity: .9;
  transform: scale(1.1);
}

.navigation-menu{
  position: fixed;
  width: 0;
  height: 100vh;
  background-color: #2c3a47;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .6s;
}
.navigation-menu nav{
  display: grid;
}
.navigation-menu li{
  margin: 20px 0;
  overflow: hidden;
}
.navigation-menu a{
  color: white;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  display: inline-block;
}

.navigation-menu a::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 8px;
  background-color: #fd7474;
  border-radius: 8px;
  z-index: -1;
  transition: .2s linear;
}

.navigation-menu a:hover::before{
  width: 100%;
}

.menu-icon.active{
  background-color: #f1f1f1;
  color: #2c3a47;
}

.navigation-menu.active{
  width: 100%;
}

.navigation-menu.active a{
  transform: translateY(0);
  transition: .6s linear;
}

@media (max-width: 600px) {
  .menu-icon{
    display: block;
  }
  .header-wrapper ul.menu-list{
    display: none;
  }
}